* {
    cursor: auto;
}

body {
    height: 100vh;
    position: relative;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - (49px + 4rem));
}

#display {
    position: relative;
    width: 33vw;
    height: 100%;
}

#display *:not(rect) {
    width: 100%;
    text-align: center;
}

#contents-display {
    height: 100%;
}

#backpack {
    position: absolute;
    bottom: 0;
}

#label {
    position: absolute;
    top: 0;
    aspect-ratio: 3;
    background-color: black;
    /* border-radius: 1rem 0 0 1rem; */
    display: flex;
    color: white;

    align-items: center;
    font-size: xx-large;
}

#inventory {
    width: 66vw;
    height: 100%;
    background-color: black;

    color: whitesmoke;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    padding: 2rem;
    user-select: none;
}

#content div {
    padding: 1rem;
    position: relative;
}

#content div .arrow {
    visibility: hidden;
    color: black;
}

#content .selected {
    visibility: visible !important;
    color: white !important;
}

.stock {

    position: absolute;
    right: 0;

}

.inventory-border {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 3px solid yellowgreen;
    /* align-items: start; */
    /* position: relative; */
}

#label-border {
    display: flex;
    width: calc(100% - 5px);
    margin-left: 5px;
    justify-content: center;
    align-items: center;
}

.app-info {
    border: 3px solid greenyellow;
    background-color: black;
    width: 30vw;
    height: 30vh;
    position: absolute;
    top: 50%;
    color: white;
    left: 50%;
}

.top-bar {
    width: 100%;
    height: 10%;
    border-bottom: 3px solid yellowgreen;
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
}

.app-title {
    text-align: center;
    width: calc(100% - 3px - 3vh);
    line-height: 3vh;
    overflow: hidden;
    user-select: none;
}

.x {
    border-left: 3px solid greenyellow;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    position: absolute;
    right: 0;
    user-select: none;
}

.x:hover {
    cursor: pointer;
}

.app-title:hover {
    cursor: grab;
}

.resize {

    aspect-ratio: 1;
    height: calc(10% - 3px);
    border-left: 3px solid yellowgreen;
    border-top: 3px solid yellowgreen;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    right: 0;

}

.resize:hover {
    cursor: nw-resize;
}

.resize svg:hover {
    cursor: nw-resize;
}

.resize svg path:hover {

    cursor: nw-resize;
}