* {
    cursor: auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    position: relative;
    width: 33vw;
    height: 90vh;
}

#display *:not(rect) {
    width: 100%;
    text-align: center;
}

#backpack {
    position: absolute;
    bottom: 0;
}

#label {
    position: absolute;
    top: 0;
    aspect-ratio: 3;
    background-color: black;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    color: white;

    align-items: center;
    font-size: xx-large;
}

#inventory {
    width: 66vw;
    height: 90vh;
    background-color: black;

    color: whitesmoke;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

#content {
    padding: 2rem;
}

#content div {
    padding: 1rem;
    position: relative;
}

#content div .arrow {
    visibility: hidden;
    color: black;
}

#content .selected {
    visibility: visible !important;
    color: white !important;
}

.stock {

    position: absolute;
    right: 0;

}

.inventory-border {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 3px solid yellowgreen;
    /* align-items: start; */
    /* position: relative; */
}

#label-border {
    display: flex;
    justify-content: center;
    align-items: center;
}